<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Edit Penjualan</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Edit Data Penjualan</h1>
      <form action="/update/{{ data[0] }}" method="post">
        <input type="date" name="tanggal" value="{{ data[1] }}" required />
        <input type="text" name="produk" value="{{ data[2] }}" required />
        <input type="number" name="jumlah" value="{{ data[3] }}" required />
        <input
          type="number"
          step="0.01"
          name="harga"
          value="{{ data[4] }}"
          required
        />
        <button type="submit">Simpan</button>
        <a href="/" style="margin-left: 10px">Batal</a>
      </form>
    </div>
  </body>
</html>
